<section class="sidebar-item sidebar-archives">
  <h2 class="sidebar-item-title">ARCHIVES</h2>
  <div class="sidebar-content">
  {{- $site := .Site }}
  {{- range sort $site.Taxonomies.archives "value" "asc" }}
  {{- $parent := .Page.Title }}
  {{- if not (in $parent "-") }}
  <details>
    <summary class="archive-year">
      <span class="archive"><a href="{{ .Page.Permalink }}" title="{{ $parent }}">{{ $parent }}({{ .Count }})</a></span>
    </summary>
    <ul>
      {{- range sort $site.Taxonomies.archives "value" "asc" }}
      {{- $child := .Page.Title }}
      {{- if and (in $child $parent) (ne $child $parent) }}
      <li><span class="archive"><a href="{{ .Page.Permalink }}" title="{{ $child }}">{{ $child }}({{ .Count }})</a></span></li>
      {{- end }}
      {{- end }}
    </ul>
  </details>
  {{- end }}
  {{- end }}
  </div>
</section>
