<section class="sidebar-item">
  <h2 class="sidebar-item-title">ARCHIVES</h2>
  <div class="sidebar-content">
  {{- $site := .Site }}
  {{- range $keyp, $taxonomyp := $site.Taxonomies.archives }}
  {{- if not (in $keyp "-") }}
  <details>
    <summary class="archive-year">
      <span class="archive"><a href="{{ .Page.Permalink }}" title="{{ $keyp }}">{{ $keyp }}({{ .Count }})</a></span>
    </summary>
    <ul>
      {{- range $keyc, $taxonomyc := $site.Taxonomies.archives }}
      {{- if and (in $keyc $keyp) (ne $keyc $keyp) }}
      <li><span class="archive"><a href="{{ .Page.Permalink }}" title="{{ $keyc }}">{{ $keyc }}({{ .Count }})</a></span></li>
      {{- end }}
      {{- end }}
    </ul>
  </details>
  {{- end }}
  {{- end }}
  </div>
</section>
