<section class="sidebar-item sidebar-archives">
  <h2 class="sidebar-item-title">ARCHIVES</h2>
  <div class="sidebar-content">
  {{- $site := .Site }}
  {{- range $parent := $site.Taxonomies.archives.Alphabetical.Reverse }}
  {{- $namep := .Name }}
  {{- if not (in $namep "-") }}
  <details>
    <summary class="archive-year">
      <span class="archive"><a href="{{ .Page.Permalink }}" title="{{ $namep }}">{{ $namep }}({{ .Count }})</a></span>
    </summary>
    <ul>
      {{- range $child := $site.Taxonomies.archives.Alphabetical.Reverse }}
      {{- $namec := .Name }}
      {{- if and (in $namec $namep) (ne $namec $namep) }}
      <li><span class="archive"><a href="{{ .Page.Permalink }}" title="{{ $namec }}">{{ $namec }}({{ .Count }})</a></span></li>
      {{- end }}
      {{- end }}
    </ul>
  </details>
  {{- end }}
  {{- end }}
  </div>
</section>
