{{- if .Site.Params.quicklink -}}
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/3.0.1/quicklink.umd.js" integrity="sha512-ZuFPKJIIsSeG2DiU5DvfCbE9wAIM4iE4Wz0ndUgoLnSoJK+YQ9dJPzx5WWy73K0VH5QfsofoFoAXHzpp6P6xRQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
window.addEventListener('load', () => {
  quicklink.listen();
});
</script>
{{- end -}}

{{- if .HasShortcode "math" -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css" integrity="sha256-GQlRJzV+1tKf4KY6awAMkTqJ9/GWO3Zd03Fel8mFLnU=" crossorigin="anonymous" media="print" onload="this.media='all'; this.onload=null;">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js" integrity="sha256-6NiFUFlJ86X0q91d0NU2lr0Tca0m/79PMQ3Nd8jNrok=" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" integrity="sha256-u1PrlTOUUxquNv3VNwZcQkTrhUKQGjzpFGAdkyZ1uKw=" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false},
        {left: "\\(", right: "\\)", display: false},
        {left: "\\[", right: "\\]", display: true}
      ]
    });
  });
</script>
{{- end -}}
