{{- $title := "" -}}
{{- $url := urls.Parse .Destination -}}
{{- with .Title -}}
  {{- $title = . -}}
{{- else -}}
  {{- if and $url.IsAbs (or (eq $url.Scheme "http") (eq $url.Scheme "https")) -}}
    {{ $metaDict := partial "tools/html_meta.html" (dict "url" .Destination) -}}
    {{- if $metaDict.title -}}
      {{- $title = $metaDict.title -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<a href="{{ .Destination | safeURL }}"{{ with $title }} title="{{ . }}"{{ end }}{{ if $url.IsAbs }} target="_blank" rel="noopener" class="icon-new-tab"{{ end }}>{{ .Text | safeHTML }}</a>
