{{- $title := "" -}}
{{- with .Title -}}
  {{- $title = . -}}
{{- else -}}
  {{- $url := .Destination -}}
  {{- $getURL := printf "https://meta.tsukayaku.workers.dev/?%s" (querify "url" $url ) -}}
  {{- $metajson := getJSON $getURL -}}

  {{- if $metajson.success -}}
    {{- if $metajson.title -}}
      {{- $title = $metajson.title -}}
    {{- else if $metajson.og_title -}}
      {{- $title = $metajson.og_title -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<a href="{{ .Destination | safeURL }}"{{ with $title }} title="{{ . }}"{{ end }}{{ if strings.HasPrefix .Destination "http" }} target="_blank" rel="noopener" class="icon-new-tab"{{ end }}>{{ .Text | safeHTML }}</a>
