.blogcard {
  text-decoration: none;

  &-img {
    object-fit: contain;
  }

  &-picture {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
  }

  &-body {
    flex: 1;
    padding: 0.5rem;
    color: $color-primary-text;
  }

  &-title {
    font-size: 1.2rem;
  }

  &-description {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  &-host {
    font-size: 0.9rem;
  }
}

.download {
  height: 150px;

  .icon-download3 {
    margin: 1rem;
    font-size: 120px;
  }

  &-title {
    font-size: 1.2rem;
  }

  &-description {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}

.book {
  &-img {
    object-fit: contain;
    margin: 1rem 1rem 0 0;
  }

  &-picture {
    position: relative;
    width: 150px;
    height: 150px;
  }

  &-title {
    font-size: 1.2rem;
  }

  &-detail {
    font-size: 0.9rem;
  }

  &-description {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  &-shop {
    padding: 0.1rem 0.3rem;
    margin: 0.2rem;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 10px;
  }
}

.product {
  &-img {
    object-fit: contain;
  }

  &-picture {
    position: relative;
    width: 160px;
    height: 160px;
  }

  &-title {
    font-size: 1.2rem;
  }

  &-detail {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  &-shop {
    padding: 0.1rem 0.3rem;
    margin: 0.2rem;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 10px;
  }
}

.info {
  position: relative;
  background: #e0f5ff;
  border-left: solid 60px #3ca5d4;

  .icon-info {
    position: absolute;
    top: 50%;
    left: -49px;
    font-size: 40px;
    color: white;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  &-body {
    padding: 1rem 2rem;
  }
}

.warning {
  position: relative;
  background: #faedc4;
  border-left: solid 60px #ffc23e;

  .icon-warning {
    position: absolute;
    top: 50%;
    left: -49px;
    font-size: 40px;
    color: white;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  &-body {
    padding: 1rem 2rem;
  }
}

.gist {
  h2,
  h3,
  h4 {
    padding: unset;
    font-size: unset;
    background: unset;
    border-bottom: unset;
    border-left: unset;
  }
}
