/* stylelint-disable */
$color-primary: {{ .Site.Params.color.primary | default "black" }} !default;
$color-primary-text: {{ .Site.Params.color.primarytext | default "#333" }} !default;
$color-headerfooter-text: {{ .Site.Params.color.headerfootertext | default "white" }} !default;
$color-secondary: {{ .Site.Params.color.secondary | default "#5989cf" }} !default;
$color-link: {{ .Site.Params.color.link | default "blue" }} !default;
/* stylelint-enable */

$width-container: 1100px;
$width-main: 640px;
$width-sidebar: 300px;

// @import "base";
// @import "layout";
// @import "module";
// @import "shortcodes";
