<article>
  <a href="{{ .Permalink }}" title="{{ .Title }}" class="article-tag l-flex box">
    <picture class="article-tag-picture">
      {{- with .Params.images }}
      {{- range first 1 . }}<img loading="lazy" width=100 height=100 class="article-tag-img" src="{{ . | absURL }}" alt="thumbnail">{{- end }}
      {{- else }}<img loading="lazy" width=100 height=100 class="article-tag-img" src="/img/default.png" alt="thumbnail">
      {{- end }}
    </picture>

    <div class="article-tag-body l-flex l-flex-column">
      <h2 class="article-tag-title">{{ .Title }}</h2>
      <div class="article-tag-time l-flex l-flex-wrap l-bottom">
      {{ partial "article/time.html" . }}
      </div>
    </div>
  </a>
</article>
