{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}
{{ define "main" }}
<main class="l-main">
  <article>
    <header>
      <aside class="single-categoriess l-flex-wrap">
        {{- range .Params.categories }}
        <span class="category icon-folder"><a href="/categories/{{ . | urlize }}">{{ . }}</a></span>
        {{- end }}
      </aside>
      <h1 class="single-title">{{ .Title }}</h1>
      {{ partial "article/time.html" . }}
      <aside class="single-tags l-flex-wrap">
        {{- range .Params.tags }}
        <span class="tag icon-price-tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></span>
        {{- end }}
      </aside>
      {{- with .Params.images }}
      {{- range first 1 . }}<img width=640 height=360 src="{{ . | absURL }}" alt="thumbnail" class="single-thumb">{{ end -}}
      {{- end }}
    </header>
    <div class="toc">
    {{ partial "article/toc.html" . }}
    </div>
    <div class="single-content">
    {{ .Content }}
    </div>
    <footer class="single-footer">
      <aside class="single-share l-flex-wrap">
        {{ partial "article/share.html" . }}
      </aside>
      <aside class="single-disqus">
        {{ template "_internal/disqus.html" . }}
      </aside>
    </footer>
  </article>
  <div class="single-aside">
    <aside class="single-pager l-flex l-flex-wrap">
      {{- with .PrevInSection -}}
        <div class="single-pager-prev">
          <header>Previous Article</header>
          {{ .Render "article-tag" }}
        </div>
      {{- end -}}
      {{- with .NextInSection -}}
        <div class="single-pager-next">
          <header>Next Article</header>
          {{ .Render "article-tag" }}
        </div>
      {{- end -}}
    </aside>
    <aside class="single-pager">
      {{- $related := .Site.RegularPages.Related . | first 6 -}}
      {{- if ne (len $related) 0 -}}
        <header>See Also</header>
        <div class="single-pager-related l-flex l-flex-wrap">
          {{- range $related -}}
            <div class="single-pager-related-tag">
            {{ .Render "article-tag" }}
            </div>
          {{- end -}}
        </div>
      {{- end -}}
    </aside>
  </div>
</main>
{{ end }}
