{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}
{{ define "main" }}

{{- $w := 640 -}}

{{- $src1 := "" -}}
{{- $src2 := "" -}}
{{- $src3 := "" -}}
{{- $w1 := "" -}}
{{- $h1 := "" -}}
{{- $w2 := "" -}}
{{- $w3 := "" -}}

{{- if .Params.images -}}
  {{- $src := index .Params.images 0 -}}

  {{- if strings.HasPrefix $src "https://res.cloudinary.com/" -}}
    {{- $srcb := findRE "https://res.cloudinary.com/.*?/image/upload" $src -}}
    {{- $srca := strings.TrimPrefix (index $srcb 0) $src -}}

    {{- $size1 := print "c_limit,w_" (mul $w 1) -}}
    {{- $size2 := print "c_limit,w_" (mul $w 2) -}}
    {{- $size3 := print "c_limit,w_" (mul $w 3) -}}
    {{- $src1 = print (index $srcb 0) "/" "f_auto,q_auto," $size1 $srca -}}
    {{- $src2 = print (index $srcb 0) "/" "f_auto,q_auto," $size2 $srca -}}
    {{- $src3 = print (index $srcb 0) "/" "f_auto,q_auto," $size3 $srca -}}
    {{- $info1 := getJSON (print (index $srcb 0) "/" "f_auto,q_auto," $size1 "/fl_getinfo" $srca) -}}
    {{- $info2 := getJSON (print (index $srcb 0) "/" "f_auto,q_auto," $size1 "/fl_getinfo" $srca) -}}
    {{- $info3 := getJSON (print (index $srcb 0) "/" "f_auto,q_auto," $size1 "/fl_getinfo" $srca) -}}
    {{- $w1 = $info1.output.width -}}
    {{- $h1 = $info1.output.height -}}
    {{- $w2 = $info2.output.width -}}
    {{- $w3 = $info3.output.width -}}
  {{- else -}}
    {{- $original := .Resources.GetMatch $src -}}
    {{- if $original -}}
      {{- $resized1 := $original.Resize (print (mul $w 1) "x" " q90 webp") -}}
      {{- $resized2 := $original.Resize (print (mul $w 2) "x" " q90 webp") -}}
      {{- $resized3 := $original.Resize (print (mul $w 3) "x" " q90 webp") -}}

      {{- $src1 = $resized1.RelPermalink -}}
      {{- $src2 = $resized2.RelPermalink -}}
      {{- $src3 = $resized3.RelPermalink -}}
      {{- $w1 = $resized1.Width -}}
      {{- $h1 = $resized1.Height -}}
      {{- $w2 = $resized2.Width -}}
      {{- $w3 = $resized3.Width -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<main class="l-main">
  <article>
    <header>
      <h1 class="single-title">{{ .Title }}</h1>
      {{ partial "article/time.html" . }}
      <aside class="single-categoriess l-flex l-flex-wrap">
        {{- range .Params.categories }}
        <span class="category icon-folder"><a href="/categories/{{ . | urlize }}">{{ . }}</a></span>
        {{- end }}
      </aside>
      <aside class="single-tags l-flex l-flex-wrap">
        {{- range .Params.tags }}
        <span class="tag icon-price-tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></span>
        {{- end }}
      </aside>
      {{- with .Params.images }}
      {{- range first 1 . }}
      <amp-img
        width={{ $w1 }}
        height={{ $h1 }}
        class="single-thumb"
        src="{{ . | absURL }}"
        srcset="
            {{- with $src1 }} {{ $src1 }} {{ $w1 }}w{{ end -}}
            {{- with $src2 }}{{ if ne $w1 $w2 }},{{ $src2 }} {{ $w2 }}w{{ end }}{{ end -}}
            {{- with $src3 }}{{ if ne $w2 $w3 }},{{ $src3 }} {{ $w3 }}w{{ end }}{{ end -}}
            "
        alt="thumbnail"></amp-img>
      {{ end -}}
      {{- end }}
    </header>
    <div class="toc">
    {{ partial "article/toc.html" . }}
    </div>
    <div class="single-content">
    {{ .Content }}
    </div>
    <footer class="single-footer">
      <aside class="single-share l-flex l-flex-wrap">
        {{ partial "article/share.html" . }}
      </aside>
    </footer>
    <div class="single-aside">
      <aside class="single-pager l-flex l-flex-wrap">
        {{- with .PrevInSection -}}
          <div class="single-pager-prev">
            <header>Previous Article</header>
            {{ .Render "article-tag" }}
          </div>
        {{- end -}}
        {{- with .NextInSection -}}
          <div class="single-pager-next">
            <header>Next Article</header>
            {{ .Render "article-tag" }}
          </div>
        {{- end -}}
      </aside>
      <aside class="single-pager">
        {{- $related := .Site.RegularPages.Related . | first 6 -}}
        {{- if ne (len $related) 0 -}}
          <header>See Also</header>
          <div class="single-pager-related l-flex l-flex-wrap">
            {{- range $related -}}
              <div class="single-pager-related-tag">
              {{ .Render "article-tag" }}
              </div>
            {{- end -}}
          </div>
        {{- end -}}
      </aside>
    </div>
  </article>
</main>
{{ end }}
