<!-- https://blog.a-1.dev/post/2019-04-20-blog-card/ -->
{{- $url := .Get 0 -}}
{{- $getURL := printf "https://meta-api-sigma.vercel.app/api/?%s" (querify "url" $url ) -}}
{{- $metajson := getJSON $getURL -}}
{{- $urlInfo := urls.Parse $url -}}
{{- $host := printf "%s://%s/" $urlInfo.Scheme $urlInfo.Host -}}
{{- $favicon := printf "https://www.google.com/s2/favicons?domain=%s" $urlInfo.Host -}}

{{- $title := "" -}}
{{- $description := "" -}}
{{- $image := "" -}}

{{- if $metajson.success -}}
  {{- if $metajson.title -}}
    {{- $title = $metajson.title -}}
  {{- else if $metajson.metas.og_title -}}
    {{- $title = $metajson.metas.og_title -}}
  {{- else -}}
    {{- $title = $url -}}
  {{- end -}}

  {{- if $metajson.metas.description -}}
    {{- $description = $metajson.metas.description -}}
  {{- else if $metajson.metas.og_description -}}
    {{- $description = $metajson.metas.og_description -}}
  {{- end -}}

  {{- if $metajson.metas.og_image -}}
    {{- $image = $metajson.metas.og_image -}}
  {{- else if $metajson.metas.twitter_image -}}
    {{- $image = $metajson.metas.twitter_image -}}
  {{- end -}}
  {{- $imageUrlInfo := urls.Parse $image -}}
  {{- if and (hasPrefix $image "/") (not $imageUrlInfo.Host) -}}
    {{- $image = $host $image -}}
  {{- else if (hasPrefix $image "//") -}}
    {{- $image = print "https:" $image -}}
  {{- end -}}
{{- else -}}
  {{- $title := $metajson.url -}}
  {{- $description := $metajson.statusText -}}
{{- end -}}

<div class="blogcard l-flex box">
  <div class="blogcard-body l-flex l-flex-column">
    <a href="{{ $url }}" target="_blank" rel="noopener" class="blogcard-title">{{ $title }}</a>
    <span class="blogcard-description">{{ $description }}</span>
    <a href="{{ $host }}" target="_blank" rel="noopener" class="blogcard-host l-bottom">
      <img loading="lazy" width=16 height=16 class="blogcard-favicon" src="{{ $favicon }}" alt="favicon">
      {{ $urlInfo.Host }}
    </a>
  </div>
  <div class="blogcard-picture">
    {{- if ne $image "" -}}
      <img loading="lazy" width=150 height=150 class="blogcard-img" src="{{ $image }}" alt="thumbnail">
    {{- end -}}
  </div>
</div>