{{- $url := .Get 0 -}}
{{- $urlInfo := urls.Parse $url -}}
{{- $host := printf "%s://%s/" $urlInfo.Scheme $urlInfo.Host -}}
{{- $favicon := printf "https://www.google.com/s2/favicons?domain=%s" $urlInfo.Host -}}

{{- $title := "" -}}
{{- $description := "" -}}
{{- $image := "" -}}

{{ $metaDict := partial "tools/html_meta.html" (dict "url" $url) -}}
{{- if $metaDict.title -}}
  {{- $title = $metaDict.title -}}
{{- else if $metaDict.og_title -}}
  {{- $title = $metaDict.og_title -}}
{{- else -}}
  {{- $title = $url -}}
{{- end -}}

{{- if $metaDict.description -}}
  {{- $description = $metaDict.description -}}
{{- else if $metaDict.og_description -}}
  {{- $description = $metaDict.og_description -}}
{{- end -}}

{{- if $metaDict.metas.og_image -}}
  {{- $image = $metaDict.metas.og_image -}}
{{- else if $metaDict.og_image_url -}}
  {{- $image = $metaDict.og_image_url -}}
{{- else if $metaDict.twitter_image -}}
  {{- $image = $metaDict.twitter_image -}}
{{- end -}}
{{- $imageUrlInfo := urls.Parse $image -}}
{{- if and (hasPrefix $image "/") (not $imageUrlInfo.Host) -}}
  {{- $image = $host $image -}}
{{- else if (hasPrefix $image "//") -}}
  {{- $image = print "https:" $image -}}
{{- end -}}
{{ $image = replaceRE "^/" $host $image }}

<div class="blogcard l-flex box">
  <div class="blogcard-body l-flex l-flex-column">
    <a href="{{ $url }}" target="_blank" rel="noopener" class="blogcard-title">{{ $title }}</a>
    <span class="blogcard-description">{{ $description }}</span>
    <a href="{{ $host }}" target="_blank" rel="noopener" class="blogcard-host l-bottom">
      <img loading="lazy" width=16 height=16 class="blogcard-favicon" src="{{ $favicon }}" alt="favicon">
      {{ $urlInfo.Host }}
    </a>
  </div>
  <div class="blogcard-picture">
    {{- if ne $image "" -}}
      <img loading="lazy" width=150 height=150 class="blogcard-img" src="{{ $image }}" alt="thumbnail">
    {{- end -}}
  </div>
</div>