{{- $origsrc := .Get "src" | default (.Get 0) -}}
{{- $w := .Get "w" -}}
{{- $h := .Get "h" -}}
{{- $alt := "" -}}
{{- $layout := .Get "layout" | default "responsive" -}}

{{- if ne (and (.Get "w") (.Get "h")) -}}
  {{- $w = 600 -}}
{{- end -}}

{{- $size1 := "" -}}
{{- $size2 := "" -}}
{{- $size3 := "" -}}
{{- if and $w $h -}}
  {{- $size1 = print "c_limit,w_" (mul $w 1) ",h_" (mul $h 1) -}}
  {{- $size2 = print "c_limit,w_" (mul $w 2) ",h_" (mul $h 2) -}}
  {{- $size3 = print "c_limit,w_" (mul $w 3) ",h_" (mul $h 3) -}}
{{- else if $w -}}
  {{- $size1 = print "c_limit,w_" (mul $w 1) -}}
  {{- $size2 = print "c_limit,w_" (mul $w 2) -}}
  {{- $size3 = print "c_limit,w_" (mul $w 3) -}}
{{- else if $h -}}
  {{- $size1 = print "c_limit,h_" (mul $h 1) -}}
  {{- $size2 = print "c_limit,h_" (mul $h 2) -}}
  {{- $size3 = print "c_limit,h_" (mul $h 3) -}}
{{- end -}}

{{- $srcb := findRE "https://res.cloudinary.com/.*?/image/upload" $origsrc -}}
{{- $srca := strings.TrimLeft (index $srcb 0) $origsrc -}}

{{- $src1 := print (index $srcb 0) "/" "f_auto,q_auto," $size1 "/" $srca -}}
{{- $src2 := print (index $srcb 0) "/" "f_auto,q_auto," $size2 "/" $srca -}}
{{- $src3 := print (index $srcb 0) "/" "f_auto,q_auto," $size3 "/" $srca -}}
{{- $info1 := getJSON (print (index $srcb 0) "/" "f_auto,q_auto," $size1 "/fl_getinfo/" $srca) -}}
{{- $info2 := getJSON (print (index $srcb 0) "/" "f_auto,q_auto," $size2 "/fl_getinfo/" $srca) -}}
{{- $info3 := getJSON (print (index $srcb 0) "/" "f_auto,q_auto," $size3 "/fl_getinfo/" $srca) -}}

{{- if .Get "alt" -}}
  {{- $alt = .Get "alt" -}}
{{- else -}}
  {{- $alt = .Get "caption" -}}
{{- end -}}

<figure {{ if .Get "class" }}class="{{ .Get "class" }}"{{ end }}>
  <a href="{{ $origsrc }}">
    <amp-img src="{{ $src1 }}"
      srcset="{{ $src1 }} {{ $info1.output.width }}w
        {{ if ne $info1.output.width $info2.output.width }},{{ $src2 }} {{ $info2.output.width }}w{{ end }}
        {{ if ne $info2.output.width $info3.output.width }},{{ $src3 }} {{ $info3.output.width }}w{{ end }}"
      alt="{{ $alt }}"
      width="{{ $info1.output.width }}"
      height="{{ $info1.output.height }}"
      layout="{{ $layout }}"
    ></amp-img>
  </a>

  {{- if .Get "caption" -}}
  <figcaption>
    {{- if .Get "href" -}}
    <a href="{{ .Get "href" }}" target="_blank" rel="noopener" class="icon-new-tab">{{ .Get "caption" }}</a>
    {{- else -}}
    {{- .Get "caption" -}}
    {{- end -}}
  </figcaption>
  {{- end -}}
</figure>
