{{- $origsrc := .Get "src" | default (.Get 0) -}}
{{- $w := .Get "w" -}}
{{- $h := .Get "h" -}}
{{- $alt := "" -}}

{{- if not (and (.Get "w") (.Get "h")) -}}
  {{- $w = 600 -}}
{{- end -}}

{{- $size1 := "" -}}
{{- $size2 := "" -}}
{{- $size3 := "" -}}
{{- if and $w $h -}}
  {{- $size1 = print "c_limit,w_" (mul $w 1) ",h_" (mul $h 1) -}}
  {{- $size2 = print "c_limit,w_" (mul $w 2) ",h_" (mul $h 2) -}}
  {{- $size3 = print "c_limit,w_" (mul $w 3) ",h_" (mul $h 3) -}}
{{- else if $w -}}
  {{- $size1 = print "c_limit,w_" (mul $w 1) -}}
  {{- $size2 = print "c_limit,w_" (mul $w 2) -}}
  {{- $size3 = print "c_limit,w_" (mul $w 3) -}}
{{- else if $h -}}
  {{- $size1 = print "c_limit,h_" (mul $h 1) -}}
  {{- $size2 = print "c_limit,h_" (mul $h 2) -}}
  {{- $size3 = print "c_limit,h_" (mul $h 3) -}}
{{- end -}}

{{- $srcb := findRE "https://res.cloudinary.com/.*?/image/upload" $origsrc -}}
{{- $srca := strings.TrimPrefix (index $srcb 0) $origsrc -}}

{{- $src1 := "" }}
{{- $src2 := "" }}
{{- $src3 := "" }}
{{- $info1 := "" }}
{{- $info2 := "" }}
{{- $info3 := "" }}

{{- if strings.HasSuffix $origsrc "svg" -}}
  {{- $src1 = $origsrc -}}
  {{- $src2 = $origsrc -}}
  {{- $src3 = $origsrc -}}
  {{- $info1 = getJSON (print (index $srcb 0) "/q_auto/fl_getinfo" $srca) -}}
  {{- $info2 = getJSON (print (index $srcb 0) "/q_auto/fl_getinfo" $srca) -}}
  {{- $info3 = getJSON (print (index $srcb 0) "/q_auto/fl_getinfo" $srca) -}}
{{- else -}}
  {{- $src1 = print (index $srcb 0) "/" "f_auto,q_auto," $size1 $srca -}}
  {{- $src2 = print (index $srcb 0) "/" "f_auto,q_auto," $size2 $srca -}}
  {{- $src3 = print (index $srcb 0) "/" "f_auto,q_auto," $size3 $srca -}}
  {{- $info1 = getJSON (print (index $srcb 0) "/" "f_auto,q_auto," $size1 "/fl_getinfo" $srca) -}}
  {{- $info2 = getJSON (print (index $srcb 0) "/" "f_auto,q_auto," $size2 "/fl_getinfo" $srca) -}}
  {{- $info3 = getJSON (print (index $srcb 0) "/" "f_auto,q_auto," $size3 "/fl_getinfo" $srca) -}}
{{- end -}}

{{- if .Get "alt" -}}
  {{- $alt = .Get "alt" -}}
{{- else -}}
  {{- $alt = .Get "caption" -}}
{{- end -}}

<figure {{ if .Get "class" }}class="{{ .Get "class" }}"{{ end }}>
  <a href="{{ $origsrc }}">
    <img
      loading="lazy"
      width="{{ $info1.output.width }}"
      height="{{ $info1.output.height }}"
      src="{{ $src1 }}"
      srcset="{{ $src1 }} {{ $info1.output.width }}w
        {{- if ne $info1.output.width $info2.output.width }},{{ $src2 }} {{ $info2.output.width }}w{{ end -}}
        {{- if ne $info2.output.width $info3.output.width }},{{ $src3 }} {{ $info3.output.width }}w{{ end -}}"
      alt="{{ $alt }}"
    >
  </a>

  {{- if .Get "caption" -}}
  <figcaption>
    {{- if .Get "href" -}}
    <a href="{{ .Get "href" }}" target="_blank" rel="noopener" class="icon-new-tab">{{ .Get "caption" }}</a>
    {{- else -}}
    {{- .Get "caption" -}}
    {{- end -}}
  </figcaption>
  {{- end -}}
</figure>
