{{- $origsrc := "" -}}
{{- $w := 0 -}}
{{- $h := 0 -}}

{{- $src := .Get "src" | default (.Get 0) -}}
{{- if strings.HasPrefix $src "https://res.cloudinary.com/" -}}
    {{- $srcb := findRE "https://res.cloudinary.com/.*?/video/upload" $src -}}
    {{- $srca := strings.TrimPrefix (index $srcb 0) $src -}}
    {{- $origsrc = print (index $srcb 0) "/q_auto" $srca -}}
    {{- $info := getJSON (print (index $srcb 0) "/q_auto/fl_getinfo/" $srca) -}}
    {{- $w = $info.output.width -}}
    {{- $h = $info.output.height -}}
{{- else -}}
  {{- $original := .Page.Resources.GetMatch $src -}}
  {{- if $original -}}
    {{- $origsrc = $original.RelPermalink -}}
    {{- $w = $original.Width -}}
    {{- $h = $original.Height -}}
  {{- else -}}
    {{- $origsrc = $src -}}
    {{- $w = .Get "w" | default 600 -}}
    {{- $h = .Get "h" | default 450 -}}
  {{- end -}}
{{- end -}}

<div class="video">
  <video controls {{ with (.Get "attributes") }}{{ . }}{{ end }}
    width="{{ $w }}"
    height="{{ $h }}"
    src="{{ $origsrc }}">
    {{ with .Get "poster" }}poster="{{ .Get "poster" }}"{{ end }}
    <div fallback>
      <p>This browser does not support the video element.</p>
    </div>
  </video>
</div>