{{- $origsrc := "" -}}
{{- $w := 0 -}}
{{- $h := 0 -}}

{{- $src := .Get "src" | default (.Get 0) -}}
{{- $original := .Page.Resources.GetMatch $src -}}
{{- if $original -}}
  {{- $origsrc = $original.RelPermalink -}}
  {{- $w = $original.Width -}}
  {{- $h = $original.Height -}}
{{- else -}}
  {{- $origsrc = $src -}}
  {{- $w = .Get "w" | default 500 -}}
  {{- $h = .Get "h" | default 375 -}}
{{- end -}}

<video controls {{ with (.Get "attributes") }}{{ . }}{{ end }}
  width="{{ $w }}"
  height="{{ $h }}"
  src="{{ $origsrc }}">
  {{ with .Get "poster" }}poster="{{ .Get "poster" }}"{{ end }}
  <div fallback>
    <p>This browser does not support the video element.</p>
  </div>
</video>